<section>
    <nav>
        <ul class="h-menu">
            <button class = "btn-power-on">Power On</button>
            <button class = "btn-power-off">Power Off</button>
            <button class = "btn-restart">Restart</button>
            <button class = "btn-led">Indicator LED</button>
            <button class = "btn-refresh">refresh</button>
            <button class = "btn-boot-pxe">boot with PXE</button>
            <button class = "btn-show-selected">show selected items</button>
        </ul>
    </nav>
    <div>
        <%- include('partials/table') %>
    </div>
</section>