<section>
    <div id="msg-menu">
        <%- include('partials/infoBox') %>
    </div>
    <%if(status > 400){%>
        <div id="msg-menu">
            <%- include('partials/error') %>
        </div>
    <%}else{%>
        <%if(devices.length <= 0){%>
            <div class="alert warning" id="yellow-msg" >
                <span class="closebtn">&times;</span>
                <div class="info-box-content">
                    <h3>Can not establish connection to Internal Datacenter ...</h3>
                    <p>Please check the internet/proxy and the server and try again ...</p>
                </div>
            </div>
        <%}%>
        <div class = 'user-interface'>
            <%- include('partials/user-interface') %>
        </div>
        <div>
            <%- include('partials/table') %>
        </div>
    <%}%>
    
</section>
