<section class = 'user sec main'>
    <div class = 'user sec main side'>
        <img src="images/Intel-logo.png" alt="intel-logo">
        <img src="images/intel-dcm1.png" alt="intel-dcm">
    </div>
    <div class = 'user sec main intro '>
        <div class = 'user sec main info'>
            <h3>Welcome to DataOn's Web Hardware Controller</h3>
            <img src="images/DataOn-Components.png" alt="">
            <span>Partnering with top companies in Node, Server Management</span>
            <br>
            <img src="images/DataOn-Integrated-System.png" alt="">
            <img src="images/DataOn-Validated-Nodes.png" alt="">
            <span>Using high-end technologies to make node deployment fast and smooth</span>
        </div>
        <div class = 'user sec main actions'>
            <ul>
                <li class = 'lst demo'>
                    <a href="/users/guest">Try the controller</a>
                    <span class = 'hint demo'>
                        This option has limited actions available as some actions require authentication <br>
                        This a demo of the web controller's integrated functions from Intel BMC/Redfish and Intel DCM  
                    </span>
                </li>
                
                <li class = 'lst login'>
                    <a href="/log-in">Log In</a>
                    <span class = 'hint login'>
                        This option has all available basic controls over the node servers. <br>
                        However, all access are granted only after a new session created.
                    </span>
                </li>
                
            </ul>
        </div>
    </div>
    <div class = 'user sec main side'>
        <img src="images/DMTF_Redfish_2.jpg" alt="redfish-logo">
        <img src="images/intel-bmc1.png" alt="intel-bmc">
    </div>
</section>