@import 'login.css';
@import 'table.css';

*, *::before, *::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,body{
  padding: 10px 0;
  width:100%;
  min-height:100%;
  height:max-content;
}

footer{
  position: sticky;
  bottom: 0;
  z-index:1000;
}

footer .h-menu{
  display: flex;
  flex-direction: row-reverse;
}

header ul, footer ul {
  background: linear-gradient(217deg, rgba(255, 221, 146, 0.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(255, 185, 81, 0.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(248, 123, 21, 0.8), rgba(0,0,255,0) 70.71%);
}

header ul li, footer ul li{

  padding: 10px 5px 10px 5px;
}

.content-wrapper{
  width:100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DataOn-Logo{
  max-height:80px;
}

.header.div{
  display:flex;
  justify-content:space-between;
  margin: 0 20px;
}

.h-menu >.lst-right{
  float:right;
}

.logo-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  flex-wrap: wrap;
}

.main.header{
  position: sticky;
  margin:0;
  top:0;
  z-index:100;
  background-color: white;
}

.main.section{
  width:100%;
  padding: 30px 2%;
  height:100%;
  overflow-y: hidden;
}

.main.section > a{
  margin: 0 auto;
}

#user-tab{
  visibility: none;
}












