thead{
  position: sticky;
  top: 0;
}

tr td:nth-child(3), thead th:nth-child(3){
  position:sticky;
  left:0;
  opacity: 100%;
}

tr td:nth-child(-n+3),thead th:nth-child(-n+3){
  z-index:2;
}


tr td:nth-child(5) div,tr td:nth-child(8) div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

optgroup{
  min-width: max-content !important;
}

option{
  min-width: max-content !important;
}

.power-row{
  padding-right: 10px;
}

.power-row img{
  display: block;
  max-width:20px;
  max-height:20px;
  width: auto;
  height: auto;
}

tbody tr:nth-child(odd) td{
  background-color:antiquewhite;
}

tbody tr:nth-child(even) td{
  background-color: white;
}

table thead th{
  background-color: white;
}

.table .sortable-column:nth-child(3){
  position:sticky;
  left:0;
  opacity: 100%;
}

.checkbox.table-service-check.style2.transition-on{
  display:flex;
  align-items: center;
}

.h-menu button{
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right:5px;
}

.session-select{
  max-width: 50%;
  min-width: 30%;
}

.button-nav{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.button-nav > .h-menu{
  display:flex;
  flex-wrap: wrap;
  margin-top:3%;
}

.form-group{
  display:flex;
  flex-direction: column;
}

.form-group input, .form-group button{
  max-width: 50%;
}

.form-session{
  left:100%;
  opacity: 0;
  padding: 2%;
  width:0px;
  height:0px;
  overflow: hidden;
  border: 1px solid grey;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition:  opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
  transition-timing-function: ease-in-out;
}

.time-out{
  
}

.form-wrapper{
  transform: translateX(25%);
}

.boot-menu{
  display:flex;
}

.boot-select{
  max-width:max-content !important;
}

.drop-container{
  min-width: fit-content !important;
}

.table .sortable-column:nth-child(3){
position:sticky;
left:0;
opacity: 100%;
}

.checkbox.table-service-check.style2.transition-on{
display:flex;
align-items: center;
}

.h-menu button{
display:flex;
align-items: center;
flex-wrap: nowrap;
margin-right:5px;
}

.session-select{
max-width: 50%;
min-width: 30%;
}

.button-nav{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.button-nav > .h-menu{
    display:flex;
    flex-wrap: wrap;
    margin-top:3%;
    background: transparent;
}

.form-group{
    display:flex;
    flex-direction: column;
}

.form-group input, .form-group button{
    max-width: 50%;
}

.form-session{
    left:100%;
    opacity: 0;
    padding: 2%;
    width:0px;
    height:0px;
    overflow: hidden;
    border: 1px solid grey;
    background-color: rgba(255,255,255,0.8);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition:  opacity 0.5s, left 0.5s, width 0.5s, height 0.5s;
    transition-timing-function: ease-in-out;
}

.form-wrapper{
    transform: translateX(25%);
}

.boot-menu{
    display:flex;
}

.boot-select{
    max-width:max-content !important;
}

.drop-container{
    min-width: fit-content !important;
}