<div class="alert warning" id="yellow-msg" >
    <span class="closebtn">&times;</span>
    <div class="info-box-content">
        <h1><%=status%></h1>
        <h3>OOPS! Something went wrong ...</h3>
        <p><%=msg%></p>
    </div>
</div>