<nav class = "main footer nav">
    <ul class="h-menu">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Partners</a>
            <ul class="d-menu drop-up" data-role="dropdown">
                <li><a href="#">Intel</a></li>
                <li><a href="#">Microsoft</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a href="#">Western Digital</a></li>
            </ul>
        </li>
        <li><a href="#">Contacts</a></li>
    </ul>
</nav>